<header>
  <div class="header-flex container">
    <div class="header-left">
      <a class="logo" href="index.html">
        <img src="assets/img/logo.png" alt="logo"><span class="logo-text">BRAN<span
        class="logo-text-last-letter">D</span></span>
      </a>
      <form class="form" action="#">
        <div class="browse-box">
          <button class="browse" type="button">Browse <img src="assets/img/sort-down-solid.svg"
                                                           alt="arrow_down"></button>
          <div class="drop-down">
            <h3 class="mega-menu__heading">Women</h3>
            <ul>
              <li class="mega-menu__list"><a class="mega-menu__link" href="#">Dresses</a></li>
              <li class="mega-menu__list"><a class="mega-menu__link" href="#">Tops</a></li>
              <li class="mega-menu__list"><a class="mega-menu__link" href="#">Sweaters/Knits</a>
              </li>
              <li class="mega-menu__list"><a class="mega-menu__link" href="#">Jackets/Coats</a>
              </li>
              <li class="mega-menu__list"><a class="mega-menu__link" href="#">Blazers</a></li>
              <li class="mega-menu__list"><a class="mega-menu__link" href="#">Denim</a></li>
              <li class="mega-menu__list"><a class="mega-menu__link" href="#">Leggings/Pants</a>
              </li>
              <li class="mega-menu__list"><a class="mega-menu__link" href="#">Skirts/Shorts</a>
              </li>
              <li class="mega-menu__list"><a class="mega-menu__link" href="#">Accessories</a></li>
            </ul>
            <h3 class="mega-menu__heading">Men</h3>
            <ul>
              <li class="mega-menu__list"><a class="mega-menu__link" href="#">Tees/Tank tops</a>
              </li>
              <li class="mega-menu__list"><a class="mega-menu__link" href="#">Shirts/Polos</a>
              </li>
              <li class="mega-menu__list"><a class="mega-menu__link" href="#">Sweaters</a></li>
              <li class="mega-menu__list"><a class="mega-menu__link"
                                             href="#">Sweatshirts/Hoodies</a></li>
              <li class="mega-menu__list"><a class="mega-menu__link" href="#">Blazers</a></li>
              <li class="mega-menu__list"><a class="mega-menu__link" href="#">Jackets/vests</a>
              </li>
            </ul>
          </div>
        </div>

        <input class="text-search" type="text" placeholder="Search for Item...">
        <button class="search" type="submit"><img src="assets/img/search.png" alt="search"></button>
      </form>
    </div>
    <div class="header-right">
      <div class="cart-box">
        <div class="goods-number"></div>
        <a class="cart" href="shopping-cart.html"><img src="assets/img/cart.svg" alt="cart"></a>
        <div class="cart-drop" id="cart-drop"></div>
      </div>
      <a class="account" href="#">My&nbsp;Account <img src="assets/img/arrow_down.png" alt="arrow_down"></a>
    </div>
  </div>
</header>
<nav class="navigation">
  <ul class="menu container">
    <li class="menu__list transform_scale"><a class="menu__link" href="index.html">Home</a></li>
    <li class="menu__list transform_scale">
      <a class="menu__link" href="product.html">Men</a>
    </li>
    <li class="menu__list transform_scale">
      <a class="menu__link" href="product.html">Women</a>
      <div class="mega-menu">
        <div class="mega-flex">
          <h3 class="mega-menu__heading">Women</h3>
          <ul>
            <li class="mega-menu__list"><a class="mega-menu__link" href="#">Dresses</a></li>
            <li class="mega-menu__list"><a class="mega-menu__link" href="#">Tops</a></li>
            <li class="mega-menu__list"><a class="mega-menu__link" href="#">Sweaters/Knits</a></li>
            <li class="mega-menu__list"><a class="mega-menu__link" href="#">Jackets/Coats</a></li>
            <li class="mega-menu__list"><a class="mega-menu__link" href="#">Blazers</a></li>
            <li class="mega-menu__list"><a class="mega-menu__link" href="#">Denim</a></li>
            <li class="mega-menu__list"><a class="mega-menu__link" href="#">Leggings/Pants</a></li>
            <li class="mega-menu__list"><a class="mega-menu__link" href="#">Skirts/Shorts</a></li>
            <li class="mega-menu__list"><a class="mega-menu__link" href="#">Accessories</a></li>

          </ul>
        </div>
        <div class="mega-flex">
          <h3 class="mega-menu__heading">Women</h3>
          <ul>
            <li class="mega-menu__list"><a class="mega-menu__link" href="#">Dresses</a></li>
            <li class="mega-menu__list"><a class="mega-menu__link" href="#">Tops</a></li>
            <li class="mega-menu__list"><a class="mega-menu__link" href="#">Sweaters/Knits</a></li>
            <li class="mega-menu__list"><a class="mega-menu__link" href="#">Jackets/Coats</a></li>
          </ul>
          <h3 class="mega-menu__heading second-heading">Women</h3>
          <ul>
            <li class="mega-menu__list"><a class="mega-menu__link" href="#">Dresses</a></li>
            <li class="mega-menu__list"><a class="mega-menu__link" href="#">Tops</a></li>
            <li class="mega-menu__list"><a class="mega-menu__link" href="#">Sweaters/Knits</a></li>
          </ul>
        </div>
        <div class="mega-flex">
          <h3 class="mega-menu__heading">Women</h3>
          <ul>
            <li class="mega-menu__list"><a class="mega-menu__link" href="#">Dresses</a></li>
            <li class="mega-menu__list"><a class="mega-menu__link" href="#">Tops</a></li>
            <li class="mega-menu__list"><a class="mega-menu__link" href="#">Sweaters/Knits</a></li>
            <li class="mega-menu__list"><a class="mega-menu__link" href="#">Jackets/Coats</a></li>
          </ul>
          <a href="#"><img class="mega-menu__img" src="assets/img/sun-glasses-guy.jpg" alt="super sale"></a>
          <p class="mega-menu__img__ad">super sale!</p>
        </div>
      </div>
    </li>
    <li class="menu__list transform_scale"><a class="menu__link" href="#">Kids</a></li>
    <li class="menu__list transform_scale"><a class="menu__link" href="#">Accessories</a></li>
    <li class="menu__list transform_scale"><a class="menu__link" href="#">Featured</a></li>
    <li class="menu__list transform_scale"><a class="menu__link" href="#">Hot Deals</a></li>
  </ul>
</nav>
